<!-- show table -->

<!-- navbar -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand ml-5 firstmoney" href="/">
        <span class="text-info">Enaland NIG </span><span class="text-warning">Limited</span>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav m-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/">
                    Home <span class="sr-only">(current)</span>
                </a>
            </li>

            <% if (req.user.isAdmin) { %>
            <li class="nav-item">
                <a class="nav-link" href="/dashboard">
                    Dashboard
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/project">
                    Projects
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/admin">
                    Admin
                    <i class="fas fa-user-shield pl-2"></i>
                </a>
            </li>
            <li class="nav-item">
                <% } %>
                <form action="/auth/logout" method="post">
                    <button type="submit" class="btn nav-item btn-info text-white">
                        Logout
                        <i class="fas fa-sign-out-alt pl-2"></i>
                    </button>
                </form>
            </li>
        </ul>
    </div>
</nav>


<div class="project-wrapper">

    <% if(!project){ %>


    <div class="container sorryText">
        <h3 class="text-center">Sorry you have no projects, yet.</h3>
        <button class="btn btn-info p-3">
            <i class="fas fa-plus"></i>
            Add Project
        </button>
    </div>


    <% } else{ %>
    <div class="container mt-3">
        <div class="container container ">
            <button class="btn btn-info p-2">
                <i class="fas fa-plus"></i>
                New Project
            </button>
        </div>
    </div>
    <div class="project-list row container mx-auto mt-4">

        <div class="card col-md-5 mx-auto" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
                <a href="#" class="btn btn-info card-link">Details</a>
            </div>
        </div>
        <div class="card col-md-5 mx-auto" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
                <a href="#" class="btn btn-info card-link">Details</a>
            </div>
        </div>

    </div>
    <% } %>


</div>


<%- include("../footer") %>